:root {
  --primary: #b6895b;
  --bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
  min-height: 2000px;
}

/*Navbar*/

.navbarku{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #614930;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbarku .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;

}

.navbarku .navbar-logo span{
    color: var(--primary);
    font-style: italic;
}

.navbarku .navbar-navku a{
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.navbarku .navbar-navku a:hover{
    color: var(--primary);
}

.navbarku .navbar-navku a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbarku .navbar-navku a:hover::after{
    transform: scaleX(0.5);
}

.navbarku .navbar-extraku a{
    display: inline-block;
    color: #fff;
    margin: 0 0.5rem;

}

.navbarku .navbar-extraku a:hover{
    color: var(--primary);
}

#humberger-menu{
    display: none;

}

/*hero section*/
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/kopi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0%;
    background: linear-gradient(0deg, rgba(1,1,3,1) 8%, rgba(255,255,255,0) 50%);
}

.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 4.5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary);
}

.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 200;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}
 .hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
 }

 .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-12 {
    margin-bottom: 4rem;
    text-align: center;
  }

  .marketing .col-lg-12 span{
    color: var(--primary);
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .marketing .col-lg-4 img{
    height: 140px;
    width: 140px;
  }

  /* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }

  .marketing .about {
    padding: 10rem 7% 1.4rem;
  }

  .marketing .about .featurette-heading span{
    color: var(--primary);
  }
  
  .marketing .menu {
    padding: 10rem 7% 1.4rem;
  }

 .marketing .menu .row:last-child {
    margin-top: 2rem; /* Atur jarak antara row atas dan row terakhir */
  }
  


/*media querry*/
/*laptop*/
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}
/*tablet*/
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
    #humberger-menu{
        display: inline-block;
    }
    .navbarku .navbar-navku{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
    }

    .navbarku .navbar-navku.active{
        right: 0;

    }

    .navbarku .navbar-navku a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbarku .navbar-navku a::after{
        transform-origin: 0 0;
    }

    .navbarku .navbar-navku a:hover:after{
        transform: scaleX(0.2rem);
    }
}
/*moblie*/
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  